* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.button {
  background-color: #fd6e0a;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.section-heading {
  max-width: 827px;
  text-align: center;
  margin-bottom: 30px;
  margin: 0px auto;
}

.section-heading h2 {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 15px;
}
.section-heading p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #181818;
  line-height: 30px;
}
.logo h2 {
  font-size: 45px;
  font-weight: 900px;
}
.color-logo {
  color: #fd6e0a;
}
header {
  background-color: #fff8f3;
  background-image: url("images/developer.png"), url("images/header_bg.png");
  background-position:
    23px 38px,
    bottom right;
  background-repeat: no-repeat;

  padding-top: 66px;
}
nav {
  width: 150%;
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}
nav .menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}
#banner {
  margin: 47px 38px 0px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .banner-content {
  max-width: 585px;
}

#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}

#banner .banner-content p {
  font-size: 18px;
  color: #181818;
  line-height: 30px;
  margin-bottom: 30px;
}

#banner .banner-image img {
  max-width: 585px;
  height: 676px;
  vertical-align: middle;
}

#about,
#skill,
#resume {
  padding-top: 130px;
}
#about .about-container {
  width: 150%;
  max-width: 1140px;
  margin: 0px auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 156px;
}
#about .about-container .about-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-info .info-card {
  font-size: 20px;
  line-height: 30px;
  color: #181818;
}
.about-info .info-card h4 {
  font-size: 20px;
}

#skill .skill-container {
  width: 150%;
  max-width: 1140px;
  margin: 0px auto;
}

#skill .skill-container .skill-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.skill-box .skill-cards {
  padding: 30px;
  box-shadow: 0px 6px 50px 0 #353535;
  max-width: 267px;
}

.skill-cards img {
  max-width: 44px;
  margin-bottom: 30px;
}
.skill-cards h3 {
  font-size: 20px;
  color: #181818;
  margin-bottom: 15px;
}
.skill-cards p {
  font-size: 16px;
  color: #757575;
  line-height: 28px;
}

#resume .resume-container {
  width: 150%;
  max-width: 1140px;
  margin: 113px auto 0px;
  display: flex;
  gap: 24px;
}
.resume-container hr {
  margin: 30px 0px;
}
.resume-container .section-title {
  color: #474747;
  font-size: 30px;
  margin-bottom: 30px;
}
.resume-card {
  max-width: 511px;
  margin-right: 47px;
}
.resume-card .resume-title {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #474747;
}
.resume-card .card-info {
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}
.resume-card .card-text {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}
.center {
  text-align: center;
}

footer {
  background-color: #fff;
  padding: 130px 0px;
  margin-top: 130px;
}
footer .footer-container {
  width: 150%;
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  gap: 116px;
}
.footer-container h2 {
  color: #181818;
  font-size: 35px;
  margin-bottom: 20px;
}
.footer-container .social {
  max-width: 562px;
}
.footer-container .social p {
  font-size: 16px;
  color: #474747;
  line-height: 28px;
  margin-bottom: 30px;
}
.footer-container .icon a {
  margin-right: 24px;
}
.footer-container form input[type="text"],
.footer-container form textarea {
  padding: 18px 31px;
  border-radius: 5px;
  font-size: 16px;
  width: 461px;
  margin-bottom: 24px;
  color: #757575;
}
